* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}
.table-pao th {
  height: 25%;
  border: 3px solid black;
}
header {
  height: 100px;
  background-color: #00083f;
  padding: 20px 0;
}
footer {
  height: 50px;
  background-color: #00083f;
  padding: 35px 0;
}
#rodap {
  height: 50px;
  background-color: #00083f;
  padding: 35px 0;
}
#social {
  float: right;
  margin: 0 50px;
}
#social a {
  padding: 7px;
  text-decoration: none;
  color: #e3e3e3;
}
#menu {
  float: right;
}
#menu a {
  text-decoration: none;
  padding: 14px;
  color: #e3e3e3;
  text-shadow: 1px 1px 1px #111;
  font-size: 14px;
}

#menu a:hover,
#social a:hover {
  border: 1px solid black;
  border-radius: 5px;
}
.titulo {
  font-size: 40px;
  margin-top: 35px;
  margin-left: 49px;
  margin-bottom: 17px;
}

.cadastrardependente {
  padding: 0 0 3% 6.5%;
}

.foto {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
}

.table-lista {
  border: 1px solid black;
  border-collapse: collapse;
  width: 97%;
}

.tr-lista {
  border: 1px solid black;
}

.td-lista {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}
.th-lista {
  border: 1px solid black;
  height: 50px;
  padding: 15px;
  text-align: left;
}

.thead-lista {
  background-color: #494f72;
}

.table-etiqueta {
  border: 1px solid black;
  width: 47%;
  margin: 0;
  padding: 0;
}
.td-cadastro-etiqueta {
  max-width: 1%;
}

.p-lista {
  border: 1px solid black;
  padding: 4px;
  text-align: center;
}

.div-display {
  display: flex;
}

.background-cadastro {
  background-color: #6495ed;
  width: 39%;
}

.background-data {
  background-color: lightyellow;
  width: 59%;
}

.RNS {
  width: 13.5%;
}

.background-responsavel{
    width: 24%;
}

.background-nomeres{
    width: 74%;
}

.background-nome{
    width: 24%;
}

.background-crianca{
    width: 74%;
}

.background-sexo{
    width: 24%;
}

.background-MF{
    width: 74%;
}

.background-idade{
    width: 34%;
}

.background-num{
    width: 64%;
}

.background-roupa{
    width: 34%;
}

.background-tamanhoroupa{
    width: 64%;
}

.background-sapato{
    width: 34%;
}

.background-tamanhosapato{
    width: 64%;
}

.background-brinquedo{
    width: 34%;
}

.background-estado{
    width: 64%;
}

.background-nescessidade{
    width: 34%;
}

.background-especiais{
    width: 64%;
}

.background-fralda{
    width: 34%;
}

.background-tamanhofralda{
    width: 64%;
}

.caixabombom{
    width: 98%;
}

.obs{
    width: 98%;
}

.alturadiv{
  height: 35px;
}