html,
body {
  height: 100%;
  margin-left: -19%;
  background-color: #e6f0ff !important;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin:36% 0 0 40%;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* PARTE DO LOGO */

.logo{
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    max-width: 65%;
    margin: 33% 28%;
}

.fundologo{
    background-color:  #4d94ff;
    padding-bottom: 50%;
    box-shadow: 8px 0 #c9d3e2;
}

.linha{
    height: 100%; 
    background-color: black;
}

.linhalogo{
    margin: 0 8% 0 16%;
}

/* PARTE DO LOGIN*/
